<nav class="navegador">
  <div class="row">
    <div class="col-md-9">
    </div><!--fin col1-->

    <div class="col-md-3">
      <ul class="masthead-nav">
        <li class="active"><a><%= link_to "Home", root_path%></a></li>
        <li><a><%= link_to "Registrese ", new_user_registration_path %></a></li>
      </ul>
    </div><!--fin col2-->
    <svg style="position:relative; top:5px;" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
      <path d="M0 100 C 20 0 50 0 100 100 Z" fill="#DDDDDD" />
    </svg>
  </div><!--fin row navegador-->
</nav>




<div class="container">
  <!------------------------------------------  Panel banner--------------------------->
  <div class="row panel-banner">
    <div class="col-md-1">
    </div>

    <div class="col-md-7 banner ">
      <header class="android-header">
        <h1>David Moreno Moreno <span>es un componente optoelectrónico pasivo y, más concretamente</span></h1>
      </header>
      <div class="banner-descripcion">
        <p><button id="showMenu">Enseñamelot</button></p>
        <p>Debido a sus altas frecuencias de operación son también útiles en tecnologías avanzadas de comunicaciones. Los ledes infrarrojos también se usan en unidades de control remoto de muchos productos comerciales incluyendo televisores e infinidad de aplicaciones de hogar y consumo doméstico..</p>
      </div>
    </div>

    <div class="col-md-4 imagen-banner">
      <%= image_tag("Nexus5.png") %>
    </div>
  </div>  <!--fin row panel-banner-->


  <!------------------------------------------  Marketing Cirulitos--------------------------->

  <div class="container marketing">

    <div class="row">
      <div class="col-md-4">
        <p class="marketing-circulo"><i class="fa fa-life-ring fa-4x centrado-vertical"></i></p>

        <h2>Ayuda</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      </div><!-- /.col-lg-4 -->

      <div class="col-md-4">
        <p class="marketing-circulo"><i class="fa fa-history fa-4x centrado-vertical"></i></p>
        <h2>Puntualidad</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      </div><!-- /.col-lg-4 -->

      <div class="col-md-4">
        <p class="marketing-circulo"><i class="fa fa-fax fa-4x centrado-vertical"></i></p>
        <h2>Agenda</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!------------------------------------------  Descripcion -------------------------------------->
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <header class="descripcion-header">
          <h1>David Moreno Moreno <span>es un componente optoelectrónico pasivo y, más concretamente</span></h1>
        </header>
        <div class="descripcion">
          <p>Debido a sus altas frecuencias de operación son también útiles en tecnologías avanzadas de comunicaciones. Los ledes infrarrojos también se usan en unidades de control remoto de muchos productos comerciales incluyendo televisores e infinidad de aplicaciones de hogar y consumo doméstico..</p>
          <p><button id="showMenu">View Details</button></p>
        </div>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/400x400/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/400x400/auto" alt="Generic placeholder image">
      </div>
      <div class="col-md-7">
        <header class="descripcion-header">
          <h1>David Moreno Moreno <span>es un componente optoelectrónico pasivo y, más concretamente</span></h1>
        </header>
        <div class="descripcion">
          <p>Debido a sus altas frecuencias de operación son también útiles en tecnologías avanzadas de comunicaciones. Los ledes infrarrojos también se usan en unidades de control remoto de muchos productos comerciales incluyendo televisores e infinidad de aplicaciones de hogar y consumo doméstico..</p>
          <p><button id="showMenu">View Details</button></p>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <header class="descripcion-header">
          <h1>David Moreno Moreno <span>es un componente optoelectrónico pasivo y, más concretamente</span></h1>
        </header>
        <div class="descripcion">
          <p>Debido a sus altas frecuencias de operación son también útiles en tecnologías avanzadas de comunicaciones. Los ledes infrarrojos también se usan en unidades de control remoto de muchos productos comerciales incluyendo televisores e infinidad de aplicaciones de hogar y consumo doméstico..</p>
          <p><button id="showMenu">View Details</button></p>
        </div>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/400x400/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>


</div> <!--fin container-->
